.container {
    z-index: 10000000;
    color: #2e3a4d;
    overflow: hidden;
}

.container, .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.background {
    background-color: #FFF;
    opacity: 0.4;
}

.inner {
    z-index: 10000001;
}

.closeBtn {
    position: fixed;
    top: 47px;
    right: 20px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    z-index: 1;
}

.closeBtn:hover {
    transform: scale(1.3);
}
