.container {
    width: 550px;
    max-width: 100%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.container:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.name {
    font-size: 22px;
}

.location {
    opacity: 0.8;
    font-weight: bold;
}
