.container {
    width: 452px;
    max-width: 100%;
}

.suggestion {
    padding: 10px;
    color: #2E3A4D;
    cursor: pointer;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    width: 100%;
    transition: all .3s ease-in-out;
}

.suggestionContainer:last-of-type .suggestion {
    border-bottom: none;
}

.suggestion:hover {
    background-color: rgba(42, 186, 230, 0.2);
}

.suggestionSubtext {
    font-size: 12px;
    font-weight: bold;
    opacity: 0.6;
}
