.content {
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../../public/img/homeBg.jpg");
    background-size: cover;
    background-position: left center;
    color: #FFF;
    padding: 100px 20px 20px 100px;
}

.title {
    max-width: 750px;
}
