.container {
    cursor: pointer;
    padding: 5px 0 5px 10px;
    border-radius: 3px;
    background-color: #FFF;
    border: solid 1px #B3B3B3;
    font-size: 14px;
}

.container_opened {
    border-color: #4C9AFF;
}

.option {
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
}

.option:hover {
    background-color: rgba(91, 204, 255, 0.2);
}

.option_selected {
    background-color: #2684FF !important;
    color: #FFF;
}

.popoverContent {
    background-color: #FFF;
    border-radius: 3px;
    z-index: 10000;
    box-shadow: 0 15px 35px 0 rgba(60, 66, 87, .08), 0 5px 15px 0 rgba(0, 0, 0, .12);
}

.arrow {
    flex-shrink: 0;
    padding: 0 5px;
    border-left: solid 1px #868686;
    opacity: 0.5;
}

.container_opened .arrow {
    opacity: 0.9;
}

.container, .popoverContent {
    width: 200px;
}

.container_inline {
    display: inline-flex;
    border: none;
    padding: 0;
    border-bottom: dashed 1px #B3B3B3;
    width: auto;
}

.container_inline .arrow {
    border: none;
    padding: 0 0 0 4px;
}
