.container {
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.border {
    width: 90px;
    max-width: 100%;
    background-color: #0C86C7;
    height: 5px;
}

.icon {
    color: #0C86C7;
}

