.container {
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: solid 1px;
    position: relative;
}

.white {
    border-color: rgba(255, 255, 255, 0.8)
}

.black {
    color: #2e3a4d;
    border-color: rgba(46, 58, 77, 0.8)
}

.big {
    padding-bottom: 5px;
    font-size: 22px;
    width: 450px;
}

.extraBig {
    padding-bottom: 5px;
    font-size: 28px;
    width: 550px;
}

.icon {
    position: absolute;
    left: 0;
    top: 5px;
    opacity: 0.95;
}

.extraBig + .icon {
    top: 12px;
}

.container::placeholder {
    font-size: 18px;
}

.white::placeholder {
    color: rgba(255, 255, 255, 0.9);
}

.black::placeholder {
    color: rgba(46, 58, 77, 0.8);
}
